<div class="scrollable">
  <div class="scrollable-content home">
    <div class="list-group text-center"> 
      <div class="list-group-item-home flex-wrapper photo-area">
        <div class="flex-wrapper photo-head" *ngIf="bIsLoading">
          <dot-slider
          [sliderCount]="nTotoalStep"
          [currentSliderCounter]="nCurrentStep"
          ></dot-slider>
          <h3 class="home-heading">Required Photos</h3>
        </div>

        <div class="flex-wrapper photo-body">
          <div class="location-area">
            <image-location
            [slugId]="strSlugId"
            (checkStep)="getStepStatus($event)"
            (loadData)="getData($event)"></image-location>
          </div>

          <div class="btn-area">
            <button class="btn btn-primary custom-btn btn-block" (click)="next()" [disabled]="!bIsNext">
              Next
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>