:host {
  background-color: #FFF;
  color: rgba(255, 255, 255, 0.87);
  display: block;
  padding: 0 16px;
}
.navbar-app {
  background-color: #FFF;
}
.navbar-app.navbar-absolute-top {
  height: 40px;
}

h1 {
  display: inline;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0.1px;
  line-height: 48px;
}

.navbar-app img.navbar-img {
  height: 32px;
  text-align: left;
}

.navbar-app .navbar-brand {
  padding: 0;
}

.navbar-app .navbar-brand-center img.navbar-img {
  text-align: left;
  margin-left: 15px;
}

.navbar-app .live-help-link,
.navbar-app .help-link {
  padding: 0 17px;
}

.navbar-app .navbar-brand-center,
.navbar-app .pull-left,
.navbar-app .pull-right {
  display: flex;
  justify-content: left;
  align-items: center;
}