<div class="scrollable" *ngIf="bIsPageLoading">
    <div class="welcome-page scrollable-wrapper" [style.height.px]="nPageHeight">
        <div class="welcome-logo">
            <img [src]="strLogoUrl">
        </div>

        <div class="main-wrapper">
            <div class="welcome-content">
                <div class="desc-wrapper">{{strWelcomeDescription}}</div>

                <div class="play-wrapper" *ngIf="bIsVideoLink">
                    <div class="img-wrapper" (click)="player()">
                        <img [src]="strVideoLinkSrc" class="play-img">
                    </div>
                    <a class="content-wrapper" (click)="player()">{{strVideoLinkText}}</a>
                </div>
            </div>

            <div class="blue-btn-wrapper">
                <button class="btn btn-primary full-width" (click)="start()">{{strBtnContent}}</button>
            </div>
        </div>
    </div>
</div>
